<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Choose Passages</h1>
  </div>
</header>

<div class="container">
  <form class="thing-form">
    <p>Enter the passage reference(s) for this week's meeting:
    <p class="input-group">
      <input type="text" class="form-control" placeholder="e.g. John 3:16, Ephesians 2:1-10" ng-model="ref_list">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="get_refs()">Get Passages</button>
      </span>
    </p>
  </form>

  <div class="row">
    <div class="col-lg-12">
      <ul class="nav nav-tabs nav-stacked col-md-12 col-lg-12 col-sm-12" ng-repeat="reference in bcvParser.passages">
        <li>
        	<p ng-bind-html="reference.text"></p>
        </li>
      </ul>
    </div>
    <div class="col-lg-12 right-align" ng-show="bcvParser.passages.length > 0">
        <button type="submit" id="save" class="btn btn-primary" ng-click="save_refs()">Save Passage References</button>
    </div>
  </div>

</div>

