<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Welcome to BIYBL</h1>
    <p class="lead">Bible in your best language!<br />Bring the word of God to everyone!</p>
    <p>Type in a bible reference. (You can add multiple references separated by commas.)</p>
  </div>
  <form class="thing-form">
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Enter bible verses..." ng-model="ref_list">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-success" ng-click="get_refs()">Get Passages</button>
      </span>
    </p>
  </form>
</header>

<div class="container" ng-hide="langu || bcvParser.passages.length <= 0 "> 
  <ul class="nav centered lang-buttons">
    <li ng-repeat="(key, language) in dbpGrabber.langmap | orderBy: 'key' ">
        <button type="submit" class="btn btn-primary" ng-click="set_language(key);">{{ key }} - {{ language[2] }}</button>
    </li>
  </ul>
</div>

<div class="container" ng-show="langu && bcvParser.passages.length > 0">
  <div class="row">
    <div class="col-lg-12">
      <ul class="nav nav-tabs nav-stacked col-md-12 col-lg-12 col-sm-12" ng-repeat="reference in bcvParser.passages">
        <li>
          <p ng-bind-html="reference.text"></p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container"  ng-show="langu && bcvParser.passages.length > 0"> 
  <ul class="nav centered lang-buttons">
    <li>
        <button type="submit" class="btn btn-primary " ng-click="remove_language();">Change Language</button>
    </li>
  </ul>
</div>